<p>
  Albicelestes is a bootstrapped, self-sustaining, <a href="http://mnmlist.com/w/">mnmlist</a> project made by <abbrev title="Sadly not Argentine, but Argentina national team fan for most of his life">Przemek Sobstel</abbrev> in Poland. At this moment more a fun and hobby non-profit after-hours project than anything else.
</p>
<p>
  przemek@<a href="http://www.sobstel.org/">sobstel.org</a>
</p>